@using WarplainsDomain.Entities
@model WarplanesWiki.Models.WarplanesListViewModel

@{
    ViewBag.Title = "Title";
    Layout = "../Shared/_Layout.cshtml";
}
@foreach (var p in Model.Warplanes)
{
    Html.RenderPartial("WarplaneSummary", p);
    
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentPlaneCategory }))
</div>